**
!dist
!dist/**
!media
!media/**
!resources
!resources/**
!spa
!spa/**
!scripts/build-spa.sh
!package.json
!LICENSE
!README.md
!CHANGELOG.md

src/**
test/**
node_modules/**
prototype/**
.github/
.github/**
.gitignore
**/*.ts
!dist/**/*.d.ts
